@import "./variables";



@mixin text($clr, $ff, $fs, $fw) {
    color: $clr;
    font-family: $ff;
    font-size: $fs;
    font-weight: $fw;
}

@mixin transition {
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

@mixin transformX ($X) {
    transform: translateX($X);
    -webkit-transform: translateX($X);
    -moz-transform: translateX($X);
    -ms-transform: translateX($X);
    -o-transform: translateX($X);
}
@mixin transformY ($Y) {
    transform: translateY($Y);
    -webkit-transform: translateY($Y);
    -moz-transform: translateY($Y);
    -ms-transform: translateY($Y);
    -o-transform: translateY($Y);
}
@mixin transformXY ($XY, $YX) {
    transform: translate($XY,$YX);
    -webkit-transform: translate($XY,$YX);
    -moz-transform: translate($XY,$YX);
    -ms-transform: translate($XY,$YX);
    -o-transform: translate($XY,$YX);
}

@mixin radius ($R) {
    border-radius: $R;
    -webkit-border-radius: $R;
    -moz-border-radius: $R;
    -ms-border-radius: $R;
    -o-border-radius: $R;
}